## Deliverable 3. Create a Travel Itinerary Map.

In [45]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [46]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Jamestown,US,72.95,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,9,Dingle,PH,77.79,broken clouds,10.9995,122.6711,SEGAYA PROPERTY
2,14,Sehithwa,BW,71.19,clear sky,-20.4667,22.7167,MONLEK GUEST HOUSE
3,16,Muros,ES,73.17,broken clouds,42.7762,-9.0603,Apartment Av. Castelao
4,20,Quatre Cocos,MU,73.51,few clouds,-20.2078,57.7625,Sunrise Attitude Hotel
5,22,Sikeston,US,78.73,clear sky,36.8767,-89.5879,Drury Inn & Suites Sikeston
6,27,Big Rapids,US,73.47,clear sky,43.6981,-85.4837,"Holiday Inn Big Rapids, an IHG Hotel"
7,48,Soyo,AO,76.86,scattered clouds,-6.1349,12.3689,Hotel Mpampa
8,56,Guaratinga,BR,77.45,overcast clouds,-16.5667,-39.5667,Hotel Caraíva
9,58,Ponta Do Sol,PT,74.03,overcast clouds,32.6667,-17.1000,Hotel do Campo

In [47]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weahter Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [48]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Karaton']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Karaton']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Bengkulu']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Padang'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Japura']

In [50]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [51]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(-5.0,105.0), zoom_level=5)
directions_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                                         travel_mode = 'DRIVING')
fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,347,Karaton,ID,73.87,broken clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
1,238,Bengkulu,ID,76.53,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,648,Padang,ID,77.16,scattered clouds,-0.9492,100.3543,Mercure Padang
3,93,Japura,ID,74.88,scattered clouds,-0.3167,102.3500,Rumah mbah Jamah

In [53]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(-5.0,105.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))